<form action='/names' method="post">
  Player 1: <input type='text' name='player_one'/> <br>
  Player 2: <input type='text' name='player_two'/> <br>
  <button type='submit' id='Submit'>Submit</button>
</form>
